@charset "utf-8";
/* CSS Document */
.tab{
	background-color:#00DDFF;
	line-height: 40px;
	border: 5px;
	padding: 10px;
	border-color: #3CE0FF;
	border-radius: 15px;
	text-decoration: none;
	margin: 1%;
}
.tab:hover{
	background-color:#07B8FF;
}

.fl{
	float: left;
}
.fr{
	float: right;
}
nav {
	background-color: #ADFFD1;
	color: #ADFFD1;
	margin: 0px;
	width: 100%;
}
.navdiv{
	background-color: #ACFFB8;
	padding: 10px;
	margin:0px;
	width: 98%;
	max-width: 100%
}
body{
	margin: 0px;
}
.maindiv{
	border:3px;
	background-color:antiquewhite;
	max-width: 100%;
	width:95%;
	margin:1%;
	padding: 1%;
	float: left;
}










		
