@media only screen and (max-width: 800px) {
    .navdiv{
        width: 98%;
    }
    .maindiv{
        width: 98%;
    }
    .mainright{
        visibility: hidden;
        display:none;
    }
    .mainleft{
        width: 100%;
        margin-right: 0%;
        display: flex;
    }
}
  